.new-search-btn {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 2%;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  -webkit-appearance: none;
  background-color: rgba(52, 24, 24, 1);
  color: white;
  font-weight: bold;
  border-color: rgba(52, 24, 24, 1);
}

.new-search-btn:hover{
  cursor: pointer;
  background-color: white;
  color: rgba(52, 24, 24, 1);
  transition: ease 0.15s;
}